@using BTL_ASP.Models;
@model List<LoaiHang>

<h4 class="m-text14 p-b-7">
    Danh mục loại hàng
</h4>

<ul class="p-b-54">
    @{foreach (var item in Model)
        {
            <li class="p-t-4">
                <a href="@Url.Action("HangByLoaiHang",new { @loaiHangID=item.LoaiHangID})" class="s-text13 active1">
                  
                        @item.LoaiHangName
                   
                   
                </a>
            </li>
        }
      
    }
</ul>