@using BTL_ASP.Models;
@model List<GioHang>


<div class="header-wrapicon2">
    <a href="@Url.Action("GioHang","GioHang")">
    <img src="~/Content/TempleteNguoiDung/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON" />
        </a>
    <span class="header-icons-noti">
       @ViewBag.TongSoLuong
    </span>

</div>
