
@{
    ViewBag.Title = "IndexStart";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<h1><b style="color:red;">@ViewBag.ThongBao</b></h1>
<div class="container">
    <div class="kenh">
    <h1>Báo cáo nhóm 21</h1>
    <table>
        <tr>
            <th>Tên đề tài:</th>
            <td><h3>Website giới thiệu, bán hàng Văn phòng phẩm</h3></td>
        </tr>
        <tr>
            <th>
                Thông tin sinh viên:
            </th>
            <td>
                <ul>
                    <li>Nguyễn Thị Sim</li>
                    <li>Vũ Thị Hải Yến</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                Chân thành cảm ơn thầy!
            </th>
        </tr>
    </table>
        </div>
</div>

<style>
    .kenh h1 {
    margin-left: 100px;
}

.kenh li {
    padding: 5px;
}
.kenh {
    margin-left: 200px;
}
</style>