
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Layout/OtherLayout.cshtml";
}
<div style="width: 500px; margin-left: 300px;">
    <h2>DangNhap</h2>
    <h3 style="color:red;">@ViewBag.ThongBao</h3>
@using (Html.BeginForm())
{
  

    <div class="form-horizontal">
        <hr />
        <div class="form-group">

            <div class="col-md-10">
                Họ và tên: @Html.TextBox("txtHoTen")
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                Password: <input type="text" name="txtMatKhau" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Đăng nhập" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
 </div>
